/* @group ----- Containers ----- */

#wrap,
footer {
    padding: 0 rhythm();
}

/* @end */

/* @group ----- Forms ----- */

.field .label,
.field label,
.field .two.columns {
    width: 100%;
    text-align: left;
    margin-bottom: rhythm(.25);
}

.field .inputs,
.field .five.columns {
    width: 100%;
}

/* @end */

/* group ----- Navigation ----- */

.pagination-nav,
#sort-links {
    width: 100%;
    text-align: center;
    padding-top: rhythm(.25);
    border-color: $gray;
    @include trailing-border(1px, .25, $base-font-size, solid);
}

.pagination-nav ul,
#sort-links ul {
    margin: 0;
}

/* @end */

/* @group ----- Header ----- */

#site-title {
    margin: rhythm(.25) 0;
}

#site-title img {
    max-height: rhythm();
    max-width: calc(100% - #{rhythm(1.75)});
}

#search-container {
    top: rhythm(-.475);
}

#top-nav ul {
    margin: rhythm(.5) 0;
}

/* @end */

/* @group ----- Browse ----- */

.browse .records {
    padding: rhythm() 0;
}

.browse .hentry,
#collection-items .hentry {
    width: 100%;
    border-color: $gray;
    @include rhythm-borders(1px, .5, $base-font-size, solid);
    margin-bottom: rhythm();
}

.browse .hentry img,
#collection-items .hentry img {
    max-width: 50%;
    float: left;
    margin: 0 rhythm() rhythm(.25) 0;
}

.browse .hentry h2,
#collection-items .hentry h2 {
    margin-top: 0;
}

/* @end */

/* @group ----- Show ----- */

.element h3,
.element .element-text {
    width: 100%;
    text-align: left;
}

/* @end */

/* @group ----- Exhibits ----- */

.exhibits #primary,
#exhibit-pages,
#exhibit-blocks,
#exhibit-page-navigation  {
    width: 100%;
    float: none;
    overflow: hidden;
}

#exhibit-pages {
    margin: rhythm(2) 0;
    text-align: center;
}

/* @end */