* {
    box-sizing: border-box;
}

html {
    font: #{$base-font-size}/#{$base-line-height} "Crimson Text", serif;
    color: #676767;
}

a {
    color: $red;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
}

h1 {
    text-align: center;
    font-size: 2 * $base-font-size;
    margin-bottom: $base-line-height;
    line-height: 2 * $base-line-height;
    font-weight: normal;
}

h2 {
    font-size: 1.5 * $base-font-size;
    margin-bottom: $base-line-height;
    line-height: 2 * $base-line-height;
    font-weight: normal;
}

p {
    margin: $base-line-height 0;
}

/* @group ----- Mixins ----- */

@mixin de-list {
    list-style: none;
    padding: 0;
}

/* @end */

/* @group ----- Containers ----- */

#wrap,
footer {
    max-width: 1100px;
    margin: auto;
    padding: 0 gutter();
    position: relative;
}

/* @end */

/* @group ----- Tables ----- */

table {
    margin: (2 * $base-line-height) auto;
    border-collapse: collapse;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
}

th, td {
    padding: (.5 * $base-line-height);
    vertical-align: top;
}

th {
    border-bottom: 3px solid $gray;
    padding-bottom: ((.5 * $base-line-height) - 3px);
    text-align: left;
}

td {
    border-bottom: 1px solid $gray;
    padding-bottom: ((.5 * $base-line-height) - 1px);
}

/* @end */

/* @group ----- Forms ----- */

::-webkit-input-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid $gray;
    border-radius: 2px;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: #676767;
}

button,
html [type="button"],
.button,
input[type="submit"] {
    background-color: $gray;
    border: 0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}

.field {
    margin-bottom: $base-line-height;
    display: flex;
    flex-wrap: wrap;
}

.field > label,
.field > .label,
.field .two.columns {
    width: span(4 of 16);
    padding-right: gutter();
    text-align: right;
}

.field .inputs,
.field .five.columns {
    width: span(12 of 16);
    padding-left: gutter();
}

.field .inputs ~ *,
#submit_search_advanced {
    margin-left: calc(#{span(4 of 16)} + #{gutter()});
    margin-top: (.5 * $base-line-height);
}

.field .inputs * {
    max-width: 100%;
}

#advanced-search-form {
    padding: $base-line-height 0;
}

#submit_search_advanced {
    font-size: 1.25 * $base-font-size;
    padding: (.25 * $base-line-height);
}

.search-entry:not(:first-child) {
    margin-top: (.5 * $base-line-height);
}

.search-entry:first-child .advanced-search-joiner {
    display: none;
}

/* @end */

/* @group ----- Navigation ----- */

nav .navigation,
nav ul {
    @include de-list;
}

.item-pagination.navigation {
    border-top: 1px solid $gray;
    padding-top: ((.5 * $base-line-height) - 1px);
    display: flex;
    justify-content: space-between;
}

.secondary-nav {
    text-align: center;
}

.secondary-nav ul {
    margin: 0 0 -1px;
    border-bottom: 1px solid $gray;
    padding-bottom: ((.5 * $base-line-height) - 1px);
}

.secondary-nav.navigation li {
    display: inline-block;
    margin-right: .5em;
    padding-bottom: (.5 * $base-line-height);

    &.active a {
        color: $red;
    }
}

.secondary-nav a {
    color: #676767;
}

/* @end */

/* @group ----- Header ----- */

#skipnav {
    position: absolute;
    top: 0;
    left: -9999px;
    background-color: #fff;
    padding: (.25 * $base-line-height);
    display: inline-block;

    &:focus {
        left: 50%;
        transform: translateX(-50%);
    }
}

header nav .navigation {
    list-style-type: none;
    padding: ((.25 * $base-line-height) - 1px) 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid $gray;
    border-width: 1px 0;
    margin: $base-line-height 0;
}

header nav li {
    display: block;
    margin: 0 .5em;
}

header nav li ul {
    display: none;
}

header nav a {
    font-size: .875 * $base-font-size;
}

header a {
    text-decoration: none;
}

#site-title {
    font-size: 1.5 * $base-font-size;
    text-transform: uppercase;
    letter-spacing: .125em;
    margin: (2 * $base-line-height) 0 0;
}

#site-title a {
    display: block;
    vertical-align: top;
}

#site-title img {
    max-height: (3 * $base-line-height);
    max-width: 100%;
}

#header-image img {
    width: 100%;
    height: auto;
    vertical-align: top;
    margin-bottom: $base-line-height;
}

#search-container {
    position: absolute;
    top: (-2 * $base-line-height);
    right: gutter();
    z-index: 100;
}

#search-container input[type="text"],
#search-container button {
    border: 0;
    border-bottom: 1px solid $gray;
    background-color: #fff;
    height: 1.5 * $base-line-height;
    display: inline-block;
    line-height: $base-line-height;
    padding: (.25 * $base-line-height);
    vertical-align: bottom;
    background-color: #fff;
    color: #676767;
}

#search-form {
    display: flex;
    padding: (.25 * $base-line-height) (.5 * $base-line-height) (.5 * $base-line-height);
    box-shadow: 0 0 0 1px #dedede inset;
    background: #fff;
}

#search-form.closed {
    width: 1.5 * $base-line-height;
    height: 1.75 * $base-line-height;
}

#search-form.open {
    right: 1.5 * $base-line-height;
    position: absolute;
}

#search-form + button.search-toggle {
    bottom: 0;
    position: absolute;
    width: 1.5 * $base-line-height;
    height: 1.75 * $base-line-height;
    border-bottom: 0;
    color: darken($gray, 15%);
}

#search-form.closed + .search-toggle {
    right: 0;
    border: 1px solid $gray;
    border-top: 0;

    &:after {
        content: "\f002";
        font-family: "FontAwesome";
    }
}

#search-form.open + .search-toggle {
    top: 0;
    right: 0;

    &:after {
        content: "\f00d";
        font-family: "FontAwesome";
    }
}

#search-form.closed [type="text"],
#search-form.closed [type="submit"],
#search-form.closed #advanced-form {
    display: none;
}

#search-form button {
    width: 1.5 * $base-line-height;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;

    &:after {
        content: "\f002";
        font-family: "FontAwesome";
        position: absolute;
        top: (.25 * $base-line-height);
        right: 0;
        text-indent: 0;
        width: 1.5 * $base-line-height;
        text-align: center;
        cursor: pointer;
    }
}

#query:focus {
    position: relative;
    z-index: 1;
}

#advanced-form {
    background-color: #fff;
    position: absolute;
    top: 100%;
    padding: (.5 * $base-line-height);
    right: 0;
    left: 0;
    border: 1px solid $gray;
    border-top: 0;
}

#advanced-form fieldset {
    margin-bottom: (.5 * $base-line-height);
}

#advanced-form fieldset input {
    margin-right: (.25 * $base-line-height);
}

#advanced-form p {
    margin: 0;
}

/* @end */

/* @group ----- Footer ----- */

footer {
    margin-top: (2 * $base-line-height);
    clear: both;
}

#bottom-nav li {
    display: inline-block;
    margin-right: 1em;
    font-size: .875 * $base-font-size;
}

/* @end */

/* @group ----- Browse ----- */

.pagination-nav,
#sort-links {
    display: inline-block;

    ul {
        @include de-list;
        display: inline-block;
    }

    li {
        display: inline-block;
        margin: 0 .5em;
    }

    a {
        color: #676767;
    }

    .sorting a {
        color: $red;
    }
}

[name="page"] {
    width: (3 * $base-line-height);
    text-align: center;
}

#sort-links {
    float: right;
}

.browse .records,
#collection-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
}

.browse .hentry,
#collection-items .hentry {
    padding: $base-line-height gutter();
    width: 25%;
    font-size: .875 * $base-font-size;
}

#collection-items h2 {
    width: 100%;
}

.browse .hentry h2,
#collection-items .hentry h2 {
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin-bottom: 0;
}

.browse .hentry h2 a,
#collection-items .hentry h2 a {
    color: #000;
}

.browse .item-img a {
    display: block;
}

.browse .hentry img {
    max-width: 100%;
}

.browse .creator + .date {
    margin-left: -4px;

    &:before {
        content: ", ";
    }
}

#search-filters ul,
#item-filters ul {
    @include de-list;
    text-align: center;
    margin: 0;

    li {
        display: inline-block;
        border-color: $gray;
        font-size: 1.25 * $base-font-size;
        border: 1px solid $gray;
        padding: ((.25 * $base-font-size) - 1px);
        margin: 0 .5em;
    }

    ul {
        display: inline-block;
    }

    ul li {
        border: 0;
        padding: 0;
        margin: 0;
        text-transform: lowercase;

        &:not(:last-child):after {
            content: ", ";
        }
    }
}

.hTagcloud ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	li {
		padding: (.25 * $base-line-height) (.5 * $base-line-height);
		border: 1px solid $gray;
		margin: 0 (.5 * $base-line-height) (.5 * $base-line-height) 0;
	}
	
	.vvvvvvvv-popular {
		font-size: 2 * $base-font-size;
	}

	.vvvvvvv-popular {
		font-size: 1.875 * $base-font-size;
	}

	.vvvvvv-popular {
		font-size: 1.75 * $base-font-size;
	}

	.vvvvv-popular {
		font-size: 1.625 * $base-font-size;
	}

	.vvvv-popular {
		font-size: 1.5 * $base-font-size;
	}
	
	.vvv-popular {
		font-size: 1.375 * $base-font-size;
	}
	
	.vv-popular {
		font-size: 1.25 * $base-font-size;
	}
	
	.v-popular {
		font-size: 1.125 * $base-font-size;
	}
}

/* @end */

/* @group ----- Show ----- */

.show .download-file img {
    max-width: 100%;
    height: auto;
}

#itemfiles {
    padding-bottom: 0 !important;
}

#itemfiles,
.lSSlideOuter .media-render {
    margin: 0;
    background-color: rgba(0,0,0,.8);
    width: 100%;
}

#itemfiles {
    margin: 0 auto $base-line-height;
    text-align: center;
    min-height: 50vh !important;
}

#itemfiles li {
    bottom: 0;
}

.lSSlideOuter ul.lSPager.lSGallery {
    margin: auto;
    margin-bottom: $base-line-height;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.lSSlideOuter .media-render {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lSSlideOuter .media-render a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lSSlideOuter .media-render img {
    max-height: 100%;
    width: auto;
}

.lSPager img {
    margin: 0 (.5 * $base-line-height) (.5 * $base-line-height) 0;
    vertical-align: bottom;
    width: 3 * $base-line-height;
}

.lg-outer .lg-thumb {
    margin: auto;
}

.element-set {
    margin-bottom: (2 * $base-line-height);
}

.element-set h2 {
    border-bottom: 1px solid $gray;
    padding-bottom: ((.25 * $base-line-height) - 1px);
}

.element {
    display: flex;
    margin-bottom: $base-line-height;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.element h3 {
    width: span(3 of 16);
    margin: 0;
    text-align: right;
    padding: 0 gutter();
}

.element-text {
    width: span(13 of 16);
    padding: 0 gutter();
}

.element-text > *:first-child {
    margin-top: 0;
}

.chocolat-overlay {
    background-color: #000;
}

.collections.show .view-items-link {
    width: 100%;
    text-align: center;
    font-size: 1.125 * $base-font-size;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    padding: ((.5 * $base-line-height) - 1px) 0;
}

/* @end */

/* @group ----- Home ----- */

#home #header-image {
    display: none;
}

#home #featured {
    margin: 0 0 (2 * $base-line-height);
    background-color: $gray;
}

#home #featured .slick-list .image {
    display: block;
    height: 50vh;
    overflow: hidden;
}

#featured img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#featured .slick-slide {
    min-height: 50vh;
}

#featured .featured-meta {
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    transform: translateY(-50%);
    border: 1px solid #fff;
    padding: $base-line-height;
    color: #fff;
    text-align: center;

    &:after {
        content: "";
        position: absolute;
        top: (-$base-line-height);
        bottom: (-$base-line-height);
        right: (-$base-line-height);
        left: (-$base-line-height);
        background-color: rgba(0,0,0,.8);
        z-index: -1;
    }
}

#featured .featured-meta h3 {
    font-size: 1.75 * $base-font-size;
    line-height: 1.5 * $base-line-height;
    margin: 0;
    font-weight: normal;
}

#featured .featured-meta h3 a {
    color: #fff;

    &:hover {
        text-decoration: none;
    }
}

#featured .featured-meta p {
    font-size: .875 * $base-font-size;
    margin: 0
}

#featured .slick-dots {
    background-color: #fff;
    width: 100%;
    text-align: center;
    @include de-list;
    margin: 0;
    padding: $base-line-height 0;
    
}

#featured .slick-dots li {
    display: inline-block;
}

#featured .slick-dots button {
    background-color: $gray;
    width: .75 * $base-font-size;
    height: .75 * $base-font-size;
    border-radius: $base-font-size;
    text-indent: -9999px;
    border: 0;
    cursor: pointer;
    margin: 0 .5em;
}

#featured .slick-dots li[aria-hidden="false"] button {
    background-color: darken($gray, 25%);
}
/* @end */

/* @group ----- Search ----- */

#search-results {
    width: 100%;
    margin: $base-line-height 0 0;
}

#search-results img {
    height: (3 * $base-line-height);
    float: right;
}

#search-results a {
    vertical-align: top;
}

/* @end */

/* @group ----- Exhibits ----- */

.exhibit-block {
    overflow: hidden;
}

.exhibit-items + * {
    margin-top: 0;
}

#exhibit-page-navigation {
    border-top: 1px solid $gray;
    padding-top: ((.5 * $base-line-height) - 1px);
    margin-top: (2 * $base-line-height);
}

.exhibits.show h1,
.exhibits.summary h1,
.exhibits #primary,
#exhibit-blocks,
#exhibit-page-navigation {
    width: span(13 of 16);
    float: right;
    padding-left: gutter();
}

#exhibit-pages {
    padding: 0 gutter() $base-line-height 0;
    width: span(2.5 of 16);
}

#exhibit-pages > ul {
    margin: 0;
}

#exhibit-pages a {
    font-size: .875 * $base-font-size;
    color: #676767;
}

#exhibit-pages .current a {
    color: $red;
}

#exhibit-pages > ul > li:not(:last-of-type) {
    padding-bottom: ((.25 * $base-line-height) - 1px);
    border-bottom: 1px solid $gray;
    margin-bottom: (.25 * $base-line-height);
}

#exhibit-pages h4 {
    border-bottom: 3px solid $gray;
    padding-bottom: ((.25 * $base-line-height) - 3px);
    margin: 0 0 (.25 * $base-line-height);
}

.summary #primary > div > *:first-child,
#exhibit-blocks > .exhibit-block > *:first-child {
    margin-top: 0;
    padding-top: 0;
}

.exhibit-block > *:last-child {
    margin-bottom: 0;
}

/* @end */